<footer style="font-size: large" class="panel-footer">
    <tbody>
    <tr th:each="account : ${accountList}">
        <td><span th:text="${account.bank}"> Bank: </span></td>
        <td><span th:text="${account.balance}"> Balance </span></td>
    </tr>
    </tbody>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
            <span class="navbar-toggler-icon">
                    Total Items [[${total}]] : Page [[${pageNumber}]]
            </span>
        </button>
    </nav>

</footer>
