<sql th:fragment="sql">
<form class="col card p-3 my-5" method="get" th:action="@{/sql}" th:object="${sqlReqDto}">

    <div>
        <label for="sql">Sql</label>
        <input class="form-control" id="sql" autocomplete="off"
               th:field="*{sql}"
               type="text"/>
    </div>
    <div>
        <label for="defaultSql">Sql</label>
        <select  id="defaultSql" name="defaultSql" th:field="*{defaultSql}" >
            <option th:each="defaultSql : ${sqlList}" th:value="${defaultSql}" th:utext="${defaultSql}"/>
        </select>

    </div>

</form>

    <div>
        <table>
            <thead>
            <tr class="headings">
                <th th:each="header: ${headers}" class="column-title" th:text="${header}" />
            </tr>
            </thead>

            <tbody>
            <tr class="even pointer" th:each="row: ${rows}" id="tablerow">
                <td th:each="header: ${headers}" th:text="${row.get(header)}" />
            </tr>
            </tbody>
        </table>

    </div>


    <label>stare</label>
    <div class="pre-scrollable" th:object="${sqlDto}">
        <div class="form-group">
            <label for="result">Result</label>
            <input class="form-control" id="result" readonly
                   th:field="*{result}"
                   type="text"/>
        </div>
    </div>
</sql>