<div th:fragment="confirm">
    <div id="confirm" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Please confirm</h4>
                </div>
                <div class="modal-body">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <a id="btn-confirm" class="btn btn-primary pull-right">Confirm</a>
                </div>
            </div>
        </div>
    </div>
</div>
