<div th:switch="${incomeList}">
    <h2 th:case="null">No users yet!</h2>
    <div th:case="*">
        <h2>Income</h2>
        <table>
            <thead>
            <tr>
                <th>id</th>
                <th>date</th>
                <th>description</th>
                <th>amount</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="income : ${incomeList}">
                <td th:text="${income.id}"></td>
                <td th:text="${income.date}"></td>
                <td th:text="${income.description}"></td>
                <td th:text="${income.amount}"></td>
                <td><a th:href="@{/edit/{id}(id=${income.id})}">Edit</a></td>
                <td><a th:href="@{/delete/{id}(id=${income.id})}">Delete</a></td>
                <td><a th:href="'/' + ${income.id}">✏</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/signup">Add a new user</a></p>

    <tr th:each="income, itemStat : ${incomeList}">
        <td>
            <input hidden th:name="|incomeList[${itemStat.index}].id|" th:value="${income.getId()}"/>
        </td>
        <td>
            <input th:name="|incomeList[${itemStat.index}].title|" th:value="${income.getDescription()}"/>
        </td>
        <td>
            <input th:name="|incomeList[${itemStat.index}].author|" th:value="${income.getDate()}"/>
        </td>
    </tr>
</div>

<form method="post" th:action="@{/x/income}" th:object="${income}">
    <input id="description" placeholder="Description" required th:field="*{description}" type="text"/>
    <input id="amount" placeholder="Amount" required th:field="*{amount}" type="number"/>
  <!--  <select id="role" required th:field="*{role}">
        <option hidden value="">Select a role</option>
        <option>GUEST</option>
        <option>USER</option>
        <option>ADMIN</option>
    </select>-->
    <input type="submit" value="Create income">
    <input type="reset" value="Reset">
</form>