<form action="#" th:action="@{/x/income}" th:object="${form}"
      method="post">
    <fieldset>
        <input type="submit" id="submitButton" th:value="Save">
        <input type="reset" id="resetButton" name="reset" th:value="Reset"/>
        <table>
            <thead>
            <tr>
                <th> id</th>
                <th> description</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="income, itemStat : *{incomeList}">
                <td><input th:field="*{incomeList[__${incomeList.index}__].id}" /></td>
                <td><input th:field="*{incomeList[__${incomeList.index}__].description}" /></td>
            </tr>
            </tbody>
        </table>
    </fieldset>
</form>
