<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Deposit delete</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body class="container">
<form class="col card p-3 my-5" method="post" th:action="'/account/delete/'+${accountDto.id}" th:object="${accountDto}">
    <div class="form-group">
        <label for="id">Id</label>
        <input class="form-control" id="id" readonly
               th:field="*{id}"
               type="text"/>
    </div>
    <div>
        <input class="btn btn-success" type="submit" value="Delete">
    </div>
</form>
<div>
    <a class="btn btn-secondary" th:href="'/account'">Cancel</a>
</div>
<div>
    <span th:text="${error}"></span>
</div>

</body>
</html>