<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
            name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Deposit process</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body class="container">
<form class="col card p-3 my-5" method="post" th:action="'/deposit/process/'">
    <div th:if="${process.closeInfo != null}">
        <h1>Close Info</h1>
        <ul>
            <th:block th:object="${process}">
                <li th:each="item : *{closeInfo}" th:text="${item}">cos</li>
            </th:block>
        </ul>
    </div>

    <div th:if="${process.prolongedInfo != null}">
        <h1>Prolonged Info</h1>
        <ul>
            <th:block th:object="${process}">
                <li th:each="item : *{prolongedInfo}" th:text="${item}">cos</li>
            </th:block>
        </ul>
    </div>

    <div>
        <input class="btn btn-success" type="submit" value="Process">
    </div>
</form>
<div>
    <a class="btn btn-secondary" th:href="'/deposit'">Cancel</a>
</div>

</body>
</html>