<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header"></div>


<div style="font-size: large" class="panel-footer">
    <div th:include="fragments/error :: error"></div>
    <div>
        Total income__: [[${summaryDto.totalIncome}]]
    </div>
    <div>
        Total outcome: [[${summaryDto.totalOutcome}]]
    </div>
    <div>
        Balance_______: [[${summaryDto.balance}]]
    </div>
    <div>
        Real balance___: [[${summaryDto.realBalance}]] (deposit: [[${summaryDto.totalDeposit}]] + accounts: [[${summaryDto.totalAccounts}]])
    </div>
    <div>
       Pocket___: [[${summaryDto.pocket}]]
    </div>
    <div>
        ADB_____: [[${summaryDto.totalAdb}]]
    </div>
</div>

<div style="width: 30%; float:left; height:60%; background:#eee; margin:10px">
    <div class="nav-sm">
        Yearly
    </div>
    <div class="pre-scrollable">
            <table>
                <thead>
                <tr class="headings">
                    <th th:each="header: ${headers}" class="column-title" th:text="${header}" />
                </tr>
                </thead>

                <tbody>
                <tr class="even pointer" th:each="row: ${rows}" id="tablerow">
                    <td th:each="header: ${headers}" th:text="${row.get(header)}" />
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div style="width: 40%; float:left; height:60%; background:#eee; margin:10px">
    <div class="profile_info span">
        Monthly
    </div>

    <div class="pre-scrollable">
        <table>
            <thead>
            <tr class="headings">
                <th th:each="header: ${monthlyHeaders}" class="column-title" th:text="${header}" />
            </tr>
            </thead>

            <tbody>
            <tr class="even pointer" th:each="row: ${monthlyRows}" id="mtablerow">
                <td th:each="header: ${monthlyHeaders}" th:text="${row.get(header)}" />
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
