<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <div class="alert-info col card p-3 my-5">
        <div>
            <label>
                Aby zaimportować starą bazę: zrób eksport w starej aplikacji.
                Jesli w nazwach/opisach sa ciapki, trzeba je usunac
            </label>
        </div>
        <div>
            <label>
                Gotowe zapytania z wygenerowanego pliku wklej w zakladce Sql.
                Czyli:
            </label>
        </div>
        <div>
            <label>
                INSERT INTO income VALUES ...
                INSERT INTO outcome VALUES ...
            </label>
        </div>
        <div>
            <label>
                Kategorie do wydatków modyfikuje się w config.properties
            </label>
        </div>
    </div>

    <form class="col card p-3 my-5" method="post" th:action="@{/utils}" th:object="${utilsDto}">
        <div>
            <label>Templates</label>
        </div>
        <div>
            <textarea cols="130" id="s" autocomplete="off" rows="3"
                      th:field="*{templates}"
                      type="text"/>
        </div>
        <div>
            <input class="btn btn-primary" type="submit" value="Save">
        </div>
    </form>

    <div th:include="fragments/error :: error"></div>


    <form class="col card p-3 my-5" method="post" th:action="@{/utils/generate-income}" th:object="${utilsDto}">
        <div class="form-group form-inline">
            <input class="form-control"  placeholder="Enter date" required autocomplete="off"
                   th:field="*{date}"
                   type="date"/>
        </div>
        <div>
            <input class="btn btn-primary" type="submit" value="Generate income">
        </div>
    </form>



    <form class="col card p-3 my-5" method="post" th:action="@{/utils/generate-outcome}" th:object="${utilsDto}">
        <div class="form-group form-inline">
            <input id="date" placeholder="Enter date" required autocomplete="off"
                   th:field="*{date}"
                   type="date"/>
        </div>
        <div>
            <input class="btn btn-primary" type="submit" value="Generate outcome">
        </div>
    </form>

</body>
</html>
